/.phpunit.cache
/node_modules
/public/hot
/public/C__
/public/uploads
/tests/vendor
/public/storage
/public_html.zip
/new_labels_app_2025_01-_21.zip
/storage/*.key
/storage/pail
/.subversion
/subversion.zip
/vendorold
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
